.input-main {
    display: flex;
    flex-direction: row;
}

.input-box-container {
    margin: auto 0;
    position: relative; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 200px;
    height: 50px;  
    font-size: 24px;
    margin: auto 2rem;
    position: relative; 
    border-radius: 10px;
    text-align: center;
}