.buttons-main {
    height: 150px;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
}

.buttons-inner-container {
    margin: auto;
    position:relative; 
}

#exec-button {
    height: 50px;
    width: 150px;
    background-color: #54BAB9;
    border-radius: 10px;
    border-width: 0;
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}