.message-main {
    height: 150px;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
}

.message-label-container {
    margin: auto;
    position:relative; 
}

#message-label {
    font-size: 24px;
}

.word{
    font-size: 28px;
    font-weight: bold;
    color: #18978F;
}